.container--product-card {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 0px;
    transition: 200ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 260px;
}

/* .container--product-card:hover{
    transform: scale(1.1);
} */
.container--product-card .productBrand,
.container--product-card .sellingPrice {
    font-weight: bold;
    font-size: 1.2rem;
}
.container--product-card :global(.vtex-button){
    /* background-color: red; */
min-height: 1rem;
}
.container--product-card:hover:global(.vtex-button){
    /* background-color: red; */
    background-color: green;
}
.nameContainer{
    padding: 0px;
}
.productNameContainer{
    display: block;
    width: 100%;
    font-size: 15px;
    text-align: left !important;
}
.brandName{
    display: block;
    width: 100%;
    font-size: 15px !important;
    text-align: left !important;
}