.container--product-card{
    margin-left: 5px;
    margin-right: 5px;
    width: 80%;
    padding-left:5px;
    padding-right: 5px;
    border: 1px solid #eee;
}
.container--product-card .productBrand, .container--product-card .sellingPrice{
    font-weight: bold;
    font-size: 1.2rem;
}
.container--product-card .show_product{
    background-color: var(--secondary-color);
}