:global(.vtex-store__template) {
    --primary-color: #3D3D3D;
    --border-color: #3d3d3d8b;
    --secondary-color: #f50;
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(92, 92, 92);
    --text-secondary: rgba(255,255,255,0.9);
    --text-primary: #3D3D3D;
  }