.flexCol--aboutus-content-items1-sup {
    width: 95% !important;
    margin: auto;
    padding: 30px;
    box-shadow: 6px 6px 6px #eee;
    border: 1px solid #eee;
}

@media screen and (min-width:800px) {
    .flexCol--aboutus-content-items1-sup-item5 {
        width: 20%;
        margin: center;
    }
}

.flexCol--aboutus-content-items1-sup-item5 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flexCol--aboutus-content-items-sup {
    padding: 10px;
}

.flexColChild--aboutus-content-items-sup {
    display: flex;
    justify-content: center;
    height: initial !important;
    padding-bottom: 0px;
}