.flexRowContent--content-search-result {
    width: 90vw;
    margin: 30px auto;
}

.flexCol--custom_not_found-col{
    border-bottom: 1px solid var(--border-color);
}
.flexRowContent--result_content_department_product-title{
    align-items: center;
}