.headerRowContainer {
    background-color: var(--primary-color);
}

/** Refactory - Buenas Practicas */
.headerRowContainer--desktop__header-superior {
    padding-left: 9vw;
    padding-right: 9vw;
}

.headerRowContainer--header-mobile {
    justify-content: space-between;
    width: 100%;
}

.flexRowContent--header-row-mobile {
    display: flex;
    align-items: center;
    width: 100%;
}
.headerRowContainer--header-mobile-containaer{
    width:100%;
}