/*? Header*/
/** Refactory - Buenas Practicas*/
.flexRowContent--desktop__header-inferior-menu {
    width: 85vw;
    justify-content: flex-start;
}

/** Refactory - Buenas Practicas*/
.flexRow--desktop__header-inferior-menu {
    margin: auto;
}

.flexRowContent--header-row-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flexRow--header-row-mobile {
    width: 100%;
}

/*? MENU*/
.flexRowContent--mobile__drawer-login-button-group {
    display: flex;
    padding: 30px 20px;
    background-color: #eee;
}

.flexRowContent--mobile__drawer-my-account {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    padding: 15px 25px;
}

.flexRow--phone_items_subdrawer-category-item-grid {
    background-color: #f50;
    width: 35vw;
    padding: 5px;
    min-height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexRow--phone_items_subdrawer-category-item-grid:global(.vtex-store-link-0-x-label--global__aboutus_empieza-comprar-categoria-1-link) {
    width: 90%;
}

:global(.vtex-mega-menu-2-x-menuContainer){
    background-color: white;
}

:global(.vtex-mega-menu-2-x-menuContainerNav--mega-menu-header ){
    background-color: #fdfdfd;
}
:global(.vtex-mega-menu-2-x-menuContainerNav--mega-menu-header ) :global(.vtex-mega-menu-2-x-styledLinkText--mega-menu-header):hover:not(:global(.vtex-mega-menu-2-x-menuContainer) :global(.vtex-mega-menu-2-x-styledLinkText--mega-menu-header)){
    color:#f50;
    text-decoration: underline;
}
:global(.vtex-mega-menu-2-x-seeAllLink--mega-menu-header):hover{
    color: #f50;
}