.openIconContainer--menu-icon{
    color:var(--text-secondary);
    width: 100%;
}
.childrenContainer--menu-icon{
    width: 100%;
}
.closeIconButton--menu-icon{
    color:rgba(0,0,0,0.8);
}
.overlay--menu-icon--visible{
    background-color: black;
}
.openIconContainer--submenu-icon{
    padding: 0px 25px ;
}
.openIconContainer--submenu-icon :global(.vtex-rich-text-0-x-paragraph){
    color:#f50;
}
