
.flexRow--product-row-list1 {
    width: 85vw;
    margin: auto;
}

/** Vitrinas */
.flexColChild--button-add-cart {
    /* background-color: var(--secondary-color); */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.flexCol--button-add-cart {
    margin-top: 10px;
}
