
.flexRow--product-row-list1 {
    width: 85vw;
    margin: auto;
}


.flexColChild--button-add-cart {
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.flexCol--button-add-cart {
    margin-top: 10px;
}
