/*? Header */
.link--desktop__header-superior-button{
    font-size:0.8rem;
    color:var(--text-secondary);
    text-decoration: none;
}
.link--link_header{
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 0.8rem;
}
.label--link_header{
    width: 100%;
}
.link--link_header:hover{
    opacity: 0.8;
}

.buttonLink--mobile__drawer-login-button{
    font-size: 12px;
    background-color: white;
    border-radius: 3px;
    color:#f50;
    display: flex;
    align-items: center;
    padding-bottom:15px;
    padding-top:15px;
}
.buttonLink--mobile__drawer-singup-button{
    font-size: 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-top:15px;
    padding-bottom:15px;
}
.link--mobile__drawer-my-account-link{
    text-decoration: none;
    color:rgba(0,0,0,0.8);
}
/* .label--mobile__drawer-login-button{
   
    color:#f50;
} */

/*? UPS */
.link--global__ups-home{
    text-decoration: none;
    color:var(--black-color);
    align-items: center;
    display: flex;
}
.link--global__ups-home:hover{
    color: var(--secondary-color);
}



.link--text-footer{
    color:#666;
    font-size: 0.6rem;
}
.link--global__aboutus_empieza-comprar-categoria-1-link{
    color:white;
    text-align: center;
    display: block;
}