/** Refactory Buenas Practicas */
.link--desktop__header-superior-button{
    font-size:0.8rem;
    color:var(--text-secondary);
    text-decoration: none;
}
.link--link_header{
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 0.8rem;
}
.label--link_header{
    width: 100%;
}
.link--link_header:hover{
    opacity: 0.8;
}

/*? UPS */
/** Refactory Buenas Practicas */
.link--global__ups-home{
    text-decoration: none;
    color:var(--black-color);
    align-items: center;
    display: flex;
}
.link--global__ups-home:hover{
    color: var(--secondary-color);
}



.link--text-footer{
    color:#666;
    font-size: 0.6rem;
}
.link--global__aboutus_empieza-comprar-categoria-1-link{
    color:white;
    text-align: center;
    display: block;
}