.flexRowContent--desktop__banner4--novedadesrow--imgs-85 {
    width: 85vw;
    margin: auto;
    margin-top: 0px !important;
}
.flexRowContent--width-85 {
    width: 85vw;
    margin: 30px auto;
    margin-bottom: 0px;
}