.menuContainerNav--global__menu .styledLinkContent{
    color:var(--text-secondary);
    font-size: 0.8rem;
}
.menuContainerNav--global__menu .styledLinkContent:hover{
    opacity: 0.9;
}
.menuContainer--menu-content-mobile{
    flex-direction: column;
}