.menuContainerNav--global__menu .styledLinkContent{
    color:var(--text-secondary);
    font-size: 0.8rem;
}
.menuContainerNav--global__menu .styledLinkContent:hover{
    opacity: 0.9;
}
.menuContainer--menu-content-mobile{
    flex-direction: column;
}
.menuContainer--submenu-content-mobile{
    flex-direction: column;
}
.menuItem--phone_subdrawer_menu-category{
    padding: 10px;
}
.styledLink--phone_subdrawer_menu-category{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}