.container--text-title-slider .paragraph{
    font-weight: bold;
    font-size: 20px;
}
.container--text-title-slider{
    width: 85vw;
    margin: auto;
    margin-top: 30px;
}
.paragraph--home-banner2-text{
    font-weight: bold;
    font-size: 20px;
}
.paragraph--text-footer{
    color:#666;
    font-size: 0.6rem;
}
.wrapper--derechos-autor-text .paragraph{
    font-size: 0.8rem;
}
.container--text-info, .container--text-info2{
    width: 85vw;
    margin: auto;
}
.container--text-info2{
    margin-bottom: 100px;
}
.paragraph--text-info, .paragraph--text-info2{
    font-size: 0.8rem;
}
.paragraph--about-us-banner-title{
    color:#ffffff;
    font-weight: bold;
    font-size: 40px;
}
.paragraph--about-us-banner-text{
    color:#ffffff;
    font-weight: bold;
    text-align: center;
}
.paragraph--aboutus-content-items-sup:hover{
    text-decoration: underline;
    color: #f50;
    cursor: pointer;
}
.paragraph--aboutus-content-title-item1{
    font-size: 30px;
    font-weight: bold;
}
.paragraph--global_aboutus_linio-numeros-grid-item{
    color: white;
    font-size: 25px;
    text-align: center;
}
.paragraph--pdp_product_delivery-days-text{
    margin:0;
    color:var(--green);
}
.link--pdp_product_delivery-days-text-link{
    color:var(--secondary-color);
    text-decoration: none;
}
.paragraph--pdp_product_promotion-crm-fallabela-text{
    font-size: 15px;
}